*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, #f05f57 10%, #360940 100%);
  text-align: center;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: 600px;
}

h1,
label,
.task,
.task-number,
li {
  color: #ffcf71;
  font-weight: 600;
}
/* Task */

.outputTasks {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  background: #000000;
  padding: 5px;
  border-radius: 8px;
  color: #ffcf71;
  cursor: pointer;
}
.completed {
  color: dimgrey;
  text-decoration: line-through;
}
/* Edit Task */

.taskNumber {
  margin: auto;
}
