REACT_APP_API_KEY= AIzaSyCuPHCyTh1N8dZ7OZbclpLOHR3zLP31NxU
REACT_APP_AUTH_DOMAIN= react-todo-dev-b0b4c.firebaseapp.com
REACT_APP_DATABASE_URL= https://react-todo-dev-b0b4c-default-rtdb.asia-southeast1.firebasedatabase.app
REACT_APP_PORJECT_ID= react-todo-dev-b0b4c
REACT_APP_STORAGE_BUCKET= react-todo-dev-b0b4c.appspot.com
REACT_APP_MESSAGING_SENDER_ID= 229523202944
REACT_APP_APP_ID= 1:229523202944:web:751324a40d86e341d19765